
<link rel="stylesheet" href="products.css">

<h1>PRODUCTOS: </h1>
<h2>index:</h2>

  <%= turbo_frame_tag "products" do %>
    <%=
    render(
      partial: 'products_index_table',
      locals: {
        products: @products
        
        }
    )
  %>
  <%= render "pager" , pagy: @pagy %>

  <% end %>